@{
    ViewData["Title"] = "Search";
}

<h4>Search</h4>

<div style="margin-bottom: 10px">
    <input class="form-control col-md-11" type="text" placeholder="Search..." aria-label="Search" id="txtSearch" style="margin-bottom: 5px"/>
    <button type="submit" class="btn btn-primary col-md-1" onclick="btnSearch()">
        Search
    </button>
</div>

<div class="row" style="max-width: 1260px; display: flex; justify-content: space-between; padding-left: 13px; padding-right: 10px">
    @foreach(var data in ViewBag.SearchData)
    {
        <div class="card" style="width: 18rem; margin-right: 5px; margin-top: 10px">
            <div class="card-body">
                <h5 class="card-title">@data.fileName</h5>
                <p class="card-text">
                    @if (data.highlightedText == null)
                    {
                        @Html.Raw(data.fileText)
                    }
                    else
                    {
                        @Html.Raw(data.highlightedText)
                    }
                </p>
                <a href="@data.filePath" target="_blank">Download your file</a>
            </div>
        </div>
    }
</div>